@import url('https://fonts.googleapis.com/css?family=Big Shoulders Display:100,200,300,400,500,600,700|Fjalla One:100,200,300,400,500,600,700|Roboto:100,200,300,400,500,600,700|Roboto Condensed:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0vw;
    padding: 0vw;
    overflow-x: hidden;
}

/*------------------------------- Nav Bar ---------------------------------*/

header {
    background-image: url('images/StarryNight-croppedMore.1.jpg');
    background-color: #202020;
    min-height: 10vh;
    margin: 0;
    width: 100vw;
}

#title {
    font-family: "Fjalla One";
    font-weight: 600;
    color: #fafafa;
    font-size: 8vh;
    left: 33.5vw;
    opacity: 0.75;
    opacity: .8;

}

#icon-bar {
    font-size: 2.7vh;
}

#header-bar {
    font-family: "Roboto Condensed";
    font-weight: 600;
    padding-bottom: -2vh;
    padding-left: .7vw;
}

li a,a:hover,a:visited,a:link,a:active {
    text-decoration: none;
    color: #fafafa;
}

li a:hover {
    color: #F987C5;
    transition: all .3s;
}

li i {
    padding: 0vw .8vw;
}

h1 {
    color: black;
}

/*------------------------------ Video Intro -------------------------------*/

#video-intro {
    position: relative;
    margin: -1vh 0vw;
    padding: 0vh 0vw;
    width: 100vw;
    min-height: 100%;
}

/*------------------------------ Video Player --------------------------------*/

#video-player {
    background-image: url('images/StarryNight-croppedMore.jpg');
    min-height: 80%;
    width: 100vw;
}

.video-container {
    position: relative;
    padding-bottom: 50%;
    padding-top: 30px; height: 0; overflow: hidden;
    }

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 18vh;
    left: 7vw;
    width:85%;
    height: 50%;
    }

#video-textbox {
    padding: 1vh 5vw 4vh;
}

#video-title {
    font-family: "Roboto Condensed";
    font-size: 6vh;
}

#video-date {
    font-family: arial;
}

#video-details {
    font-size: 2vh;
}

#view-videos {
    color: #fafafa;
    text-decoration: none;
    font-family: "Roboto Condensed";
    font-weight: 700;
    padding-top: 6vh;
}


#video-list tr td a:hover {
    color: #F987C5;
    transition: all .3s;
}

/*------------------------------ Tour Dates --------------------------------*/

#tour-background {
    background-image: url('images/StarryNight-croppedMore.jpg');
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
}

table {

    border-collapse: collapse;
    width: 100%;
    margin: 110px 0px 20px 0px;

}

td {
    text-align: left;
    padding: 20px 25px;
    color: #fafafa;
}


#tour-dates {
    font-weight: 700;
    font-family: "Roboto Condensed";
    font-size: 30px;
}

#tour-address {
    font-weight: 500;
    font-family: "Roboto";
    font-size: 15px;
    margin-bottom: 5px;
}

#fa-fonts {
    font-family: "Roboto Condensed";
    font-weight: 600;
}

#tour-icons {
    text-decoration: none;
    color: #fafafa;
    font-size: 13px;
}

#tour-list tr td a:hover {
    color: #F987C5;
    transition: all .3s;
}

#view-tour {
    text-align: center;
    display: block;
    color: #fafafa;
    text-decoration: none;
    font-family: "Roboto Condensed";
    font-weight: 700;
    padding: 7vh 7vw 0vh 0vw;

}

#view-tour:hover {
    color: #F987C5;
    transition: all .3s;

}

/*------------------------------ Album/Singles -------------------------------*/

#album-background {
    background-image: url('images/Wildflower-background.jpg');
    background-size: cover;
    background-position: 0% 35%;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    min-height: 100vh;
    opacity: 0.888;
}

#album-banner {
    font-weight: 600;
    font-family: "Fjalla One";
    font-size: 50px;
    color: #fafafa;
}

#track-number {
    font-weight: 600;
    font-family: "Roboto Condensed";
    font-size: 20px;
    color: #fafafa;
    opacity: 0.6;
}

#track-title {
    font-weight: 500;
    font-family: "Roboto";
    font-size: 14px;
    color: #fafafa;
    margin-bottom: 5px;
}

#track-icon {
    color: #fafafa;
    padding: 0px;
    text-decoration: none;
    font-size: 20px;
}

#wildflower-pic {
    height: 500px;
    width: 500px;
    position: relative;
    left: 10%;
    top: 15%;
}

#track-list tr td a:hover {
    color: #FF66CC;
    transition: all .3s;
}

/*----------------------------- Contact/Details-------------------------------*/

#contact-background {
    color: #fafafa;
    background-image: url('images/StarryNight-cropped.jpg');
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
}

#contact-deets {
    color: #fafafa;
    font-family: "Roboto Condensed";
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
    opacity: 0.8;
}

#email-updates {
    padding-top: 25vh;
    font-weight: 500;
}

*:focus {
    outline: none;
}

::placeholder {
    color: #fafafa;
    font-weight: 500;
}

#email-address {
    color: #F987C5;
    background-color: transparent;
    width: 46vw;
    padding-top: 12vh;
    border: none;
    border-bottom: 0.5px solid #fafafa;
}

#address {
    color: #F987C5;
    width: 23vw;
    background-color: transparent;
    border: none;
    padding-top: 8vh;
    border-bottom: 1px solid #fafafa;
}

#postcode {
    color: #F987C5;
    width: 23vw;
    background-color: transparent;
    border: none;
    padding-top: 8vh;
    border-bottom: 1px solid #fafafa;
}

#subscribe {
    padding-top: 9vh;
}

#check-box {
    padding-top: 1vh;
}

#agreement {
    padding-top: 1vh;
    padding-bottom: -5vh;
    font-style: italic;
}

#check-box-box {
    padding-top: 1vh;
    padding-left: 0vw;
    font-size: 10px;
}


#subscribe-button {
    font-size: 18px;
    color: #fafafa;
    font-weight: 600;
    margin-left: -1vw;
    padding-left: -1vw;
    padding-top: 0vh;
    background-color: transparent;
    border: 0px;
}

#subscribe-button:hover {
    color: #FF66CC;
    transition: all .3s;
    cursor: pointer;
}


/*------------------------------ Footer --------------------------------*/

#full-footer {
    background-color: #000000;
    min-height: 5vh;
    min-width: 100%;
}

#footer-bar {
    color: #fafafa;
    font-size: 20px;
}

#links-bar {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    margin-left: -1vw;
}




/*------------------------------ Media Queries --------------------------------*/

@media only screen and (max-width:1200px) {     /* ---------------------- max:1200px ------------------------ */

.video-container iframe,
    .video-container object,
    .video-container embed {
    position: absolute;
    top: 18vh;
    left: 7vw;
    width: 90%;
    height: 65%;
    }

    #video-textbox {
    padding: 17vh 5vw 4vh;
    }

    #video-title {
    font-size: 4vh;
    }

    #video-date {
    font-size: 2vh;
    }

    #video-details {
    font-size: 1.75vh;
    }

    #track-number {
    font-size: 15px;
    }

    #track-title {
    font-size: 12px;
    margin-bottom: 5px;
    }

    #track-icon {
    padding: -3px;
    font-size: 20px;
    }
}

@media only screen and (max-width:1100px) {     /* ---------------------- max:1100px ------------------------ */

    #track-title {
    font-size: 11px;
    }

    #track-icon {
    font-size: 15px;
    }

    #track-number {
        font-size: 2.5vh;
        opacity: 0.6;
    }

    #track-title {
        font-size: 2.5vh;
        margin-bottom: 5px;
    }

    #track-icon {
        padding: 0px;
        font-size: 2.8vh;
    }

    #links-bar {
    font-style: italic;
    font-weight: 400;
    font-size: 10.5px;
    margin-left: -1vw;
    }
}

@media only screen and (max-width:990px) {     /* ---------------------- max:990px ------------------------ */

    #title {
        font-size: 10vh;
        left: 23%;
    }

    #icon-bar {
        font-size: 3vh;
        padding: 0vw 0vw;
    }

    #header-bar {
        padding-left: 2.5vw;
        padding-bottom: -2vh;
        font-size: 2.5vh;
    }

    .video-container iframe,
    .video-container object,
    .video-container embed {
    position: absolute;
    top: 18vh;
    left: 7vw;
    width: 90%;
    height: 65%;
    }

    #video-textbox {
    padding: 14vh 5vw 4vh;
    }

    #video-title {
    font-size: 3vh;
    }

    #video-date {
    font-size: 2vh;
    }

    #video-details {
    font-size: 1.6vh;
    }

    td {
        padding: 3vh 4vw;
    }

    #tour-dates {
        font-size: 3vh;
    }

    #tour-address {
        font-size: 2vh;
        margin-bottom: 5px;
    }

    #tour-icons {
        font-size: 1.8vh;
    }

    #view-tour {
        padding-top: -3vh;
        font-size: 2.5vh;
    }

    #album-background {
        background-position: 70% 0%;
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        min-height: 100vh;
        opacity: 0.99;
    }

    #wildflower-pic {
        height: 100%;
        width: 80vw;
        position: relative;
        left: 7%;
        top: 7%;
    }

    #links-bar{
        padding-left: 1vw;
        font-size: 1.5vh;
    }


}

@media only screen and (max-width:800px) {

    #title {
        font-size: 9vh;
        left: 20%;
    }

    #icon-bar {
        font-size: 3vh;
        padding: 0vw 0vw;
    }

    #header-bar {
        padding-left: 4vw;
        padding-top: 1vh;
        font-size: 2vh;
    }

    .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    }

    .video-container iframe,
    .video-container object,
    .video-container embed {
    position: absolute;
    top: 17vh;
    left: 2vw;
    width: 100%;
    height: 65%;
    }

    #video-textbox {
    padding: 0vh 0vw 4vh;
    }

    #video-title {
    font-size: 3.2vh;
    }

    #video-date {
    font-size: 1.55vh;
    }

    #video-details {
    font-size: 1.25vh;
    }

    #track-number {
        font-size: 2.5vh;
        opacity: 0.6;
    }

    #track-title {
        font-size: 2.1vh;
        margin-bottom: 5px;
    }

    #track-icon {
        padding: 0px;
        font-size: 3.4vh;
    }
}

@media only screen and (max-width:650px) {

    #title {
        font-size: 8.5vh;
        left: 16%;
    }

    #header-bar {
        padding-left: 2.5vw;
        padding-top: 1.25vh;
        font-size: 1.8vh;
    }

    #video-textbox {
    padding: 14vh 5vw 4vh;
}

    #video-title {
    font-family: "Roboto Condensed";
    font-size: 6vh;
}

    #video-date {
    font-family: arial;
}

    #video-details {
    font-size: 2vh;
}

}

@media only screen and (max-width:600px) {     /* ---------------------- max:600px ------------------------ */

    #title {
        font-size: 8.25vh;
        left: 16%;
    }

    #header-bar {
        padding-left: 2.5vw;
        padding-top: 1.15vh;
        font-size: 1.6vh;
    }


}

@media only screen and (max-width:575px) {      /* ---------------------- max:575px ------------------------ */

    #title {
        font-size: 8vh;
        left: 12%;
    }

    #icon-bar {
        font-size: 5vh;
        padding: 0vw 17vw;
    }

    #header-bar {
        padding-left: 9vw;
        padding-bottom: -2vh;
        font-size: 2.5vh;
    }

    td {
        padding: 3vh 4vw;
    }

    #tour-dates {
        font-size: 2.5vh;
    }

    #tour-address {
        font-size: 1.7vh;
        margin-bottom: 5px;
    }

    #tour-icons {
        font-size: 1.8vh;
    }

    #view-tour {
        padding-top: -3vh;
        font-size: 2.5vh;

    }

    #album-background {
        background-position: 70% 0%;
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        min-height: 100vh;
        opacity: 0.99;
    }

    #wildflower-pic {
        height: 100%;
        width: 80vw;
        position: relative;
        left: 7%;
        top: 7%;
    }

    #links-bar {
        font-size: 1.5vh;
    }
}

@media only screen and (max-width:460px) {        /*---------------------- max:460px ------------------------ */


  #track-title {
    font-size: 2.5vh;
    }

    #track-icon {
    font-size: 2.8vh;
    }
}

@media only screen and (max-width:430px) {        /*---------------------- max:430px ------------------------ */

  #title {
        font-size: 7.5vh;
        left: 7%;
    }

    #icon-bar {
        font-size: 4vh;
        padding: 0vw 15vw;
    }

    #header-bar {
        padding-left: 6.5vw;
        padding-bottom: -2vh;
        font-size: 2.25vh;
    }


  #track-title {
        font-size: 2.5vh;
    }

    #track-icon {
        font-size: 2.8vh;
    }

    .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    }

    .video-container iframe,
    .video-container object,
    .video-container embed {
    position: absolute;
    top: 8vh;
    left: 8vw;
    width: 80%;
    height: 90%;
    Margin-bottom: 0vh ;
    }

    #video-textbox {
    padding: 0vh 5vw 4vh;
    padding-bottom: 0vh ;
    Margin-bottom: 0vh ;
    }

    #video-title {
    font-size: 2.5vh;
    padding-bottom: 0vh ;
    Margin-bottom: 0vh ;
    }

    #video-date {
    font-size: 1.75vh;
    padding-bottom: 0vh ;
    Margin-bottom: 0vh ;
    }

    #video-details {
    font-size: 1.25vh;
    padding-bottom: 0vh ;
    Margin-bottom: 0vh ;
    }

    #links-bar {
        font-size: 1.2vh;
    }
}

@media only screen and (max-width:380px) {        /*---------------------- max:380px ------------------------ */

    #title {
        font-size: 7vh;
        left: 5%;
    }

    #icon-bar {
        font-size: 3.6vh;
        padding: 0vw 12vw;
    }

    #header-bar {
        padding-left: 6vw;
        padding-bottom: -2vh;
        font-size: 2vh;
    }

    .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    }

    .video-container iframe,
    .video-container object,
    .video-container embed {
    position: absolute;
    top: 5vh;
    left: 8vw;
    width: 80%;
    height: 100%;
    }

    #video-textbox {
    padding: 0vh 5vw 4vh;
    }

    #video-title {
    font-size: 2.5vh;
    }

    #video-date {
    font-size: 1.75vh;
    }

    #video-details {
    font-size: 1.25vh;
    }

    td {
        padding: 3vh 4vw;
    }

    #tour-dates {
        font-size: 2.2vh;
    }

    #tour-address {
        font-size: 1.6vh;
        margin-bottom: 5px;
    }

    #tour-icons {
        font-size: 1.3vh;
    }

    #view-tour {
        padding-top: -10vh;
        padding-bottom: 4vh;
        font-size: 2.2vh;
    }

    #album-background {
        background-position: 70% 0%;
        background-repeat: no-repeat;
        position: relative;
        width: 100%;
        min-height: 100vh;
        opacity: 0.99;
    }

    #track-number {
        font-size: 2.5vh;
        opacity: 0.6;
    }

    #track-title {
        font-size: 2.2vh;
        margin-bottom: 5px;
    }

    #track-icon {
        padding-right: 4px;
        font-size: 3.8vh;
    }

    #wildflower-pic {
        height: 100%;
        width: 80vw;
        position: relative;
        left: 7%;
        top: 7%;
    }

    #links-bar {
        font-size: 1.1vh;
    }
}

@media only screen and (max-width:325px) {        /*---------------------- max:325px ------------------------ */

    #title {
        font-size: 6vh;
        left: 4%;
    }

    #icon-bar {
        font-size: 3vh;
        padding: 0vw 13vw;
    }

    #header-bar {
        padding-left: 5.5vw;
        padding-bottom: -2vh;
        font-size: 1.6vh;
    }

    .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    }

    .video-container iframe,
    .video-container object,
    .video-container embed {
    position: absolute;
    top: 9vh;
    left: 9vw;
    width: 80%;
    height: 90%;
    }



    #video-textbox {
    padding: -3vh 5vw 0vh;
    }

    #video-title {
    font-size: 2.5vh;
    padding-bottom: 0vh;
    }

    #video-date {
    font-size: 1.4vh;
    padding-bottom: 0vh;
    }

    #video-details {
    font-size: 1.15vh;
    padding-bottom: 0vh;
    }

    #view-tour {
    font-size: 2.25vh;
    left: 5vw;
    }

    #album-background {
    background-position: 0% 35%;
    min-width: 100%;
    min-height: 120vh;
    opacity: 0.888;
    }

    #album-banner {
    font-size: 6vh;
    }

    #track-number {
        font-size: 2.5vh;
    }

    #track-title {
        font-size: 2.2vh;
        margin-bottom: 5px;
    }

    #track-icon {
        padding: 0px;
        font-size: 3vh;
    }

    #check-box-box {;
    font-size: 9px;
}

    #links-bar {
    font-size: 7px;
    }

    #contact-deets {
        font-size: 12px;
    }
}
